 

body {
  margin-bottom: 0;
  font-family: sans-serif;
}

.big-image {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../../IMG/bg-img.jpeg");
} 

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: black;
  display: flex transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: .9;
}

/* Four columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    bottom: 0%;
  }
}

/* Add some shadows to create a card effect */
.card {
  padding-top: 90px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 8px;
  margin-bottom: 0%;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.logo {
  width: 5%;
}

.top-bar-right {
  float: right;
}