.nav-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #eee;
}
h1 {
    font-family: Arial;  
}
h5{
     font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}
section{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px ;
}

container {
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: auto;
}
.text-center{
    text-align: center;
    margin-bottom: 30px;
}

form{
    width: 100%;
    text-align: center;
    padding-left: 38%;
    padding-right: 30%;
}

#searchBTN {
    justify-content: center;
    align-items: center;
    
    
}
.results{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
    /* width: 100px; */
    /* border-radius: 8px; */
    padding: 80px;
    margin-bottom: 50px ;
  
}

input { 
    text-align: center; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Modal */
.button {
    background: #2199e8;
    /* padding: 16px 24px; */
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 20px;
    
  }
  
  .button:hover {
    background: rebeccapurple;
    cursor: pointer;
  }
  
  .modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #f4f4f4;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .modal-body {
    padding: 10px 20px;
    color: #000;
  }
  
  .close-button {
    cursor: pointer;
    color: #000;
  }

 
  .hide {
      display: none;
  }
